section.places {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.place-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article.places {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

section.places h1 {
    font-size: 30px;
    text-align: left;
}

article.places h2,
.headline h2 {
    font-size: 30px;
    text-align: center;
}

.headline {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80px;
}

.price_by_night {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    right: 0;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    width: fit-content;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.price_by_night p {

    padding: 5px;
}


.information {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom: #DDDDDD 1px solid;
    border-top: #DDDDDD 1px solid;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max_guest::before {
    content: url(../images/icon_guests.png);
}

.number_rooms::before {
    content: url(../images/icon_bed.png);
}


.number_bathrooms::before {
    content: url(../images/icon_bath.png);
}

div.user {
    margin: 10px 0;
}

div.user p {
    display: inline-block;
}

.more-info .amenities {
    width: 100%;
}

.more-info .amenities h2,
.more-info .reviews h2 {
    font-size: 16px;
    border-bottom: #DDDDDD 1px solid;
    margin: 15px 0;
    text-align: left;
}


.more-info .reviews h3 {
    font-size: 14px;
    line-height: 16px;
}

.more-info .reviews p {
    font-size: 12px;
}


.more-info .amenities ul,
.more-info .amenities ul li,
.more-info .reviews ul,
.more-info .reviews ul li {
    list-style-type: none;
}

.more-info .reviews ul li:not(:last-child) {
    padding-bottom: 15px;
}



span.tv_icon {
    content: url(../images/icon_tv.png);
}

.wifi_icon {
    content: url(../images/icon_wifi.png);
}

.pet_icon {
    content: url(../images/icon_pets.png);
}

.amenities_icon {
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}