footer {
    background-color: white;
    height: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    border-top: 1px #CCCCCC solid;
}