section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

section.filters #search {
    width: 50%;

}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 40%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    float: right;
}

button:hover {
    opacity: 90%;
}

.locations {
    border-right: 1px #DDDDDD solid;
}

.locations,
.amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

h3.title {
    font-weight: 600;
}

h4.subtitle {
    font-weight: 400;
    font-size: 14px;
}

h3.title,
h4.subtitle {
    padding-left: 30px;
}

/* .popover {
    visibility: hidden;
} */

.popover {
    background-color: #FAFAFA;
    width: 100%;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    padding: 30px;
    position: relative;
    margin-top: 18px;
    display: none;
}

ul.popover,
ul.popover>ul {
    list-style-type: none;
}

ul.popover>ul li {
    list-style-type: none inside;
    padding-left: 15px;
}

li:not(:last-child) {
    padding-bottom: 5px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: inline-block;
    cursor: pointer;
}